<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Buying Credit</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="{{ root }}/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ root }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ root }}/css/star-rating.css" type="text/css" rel="stylesheet"/>

</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo teal-text">BuyingCredit</a>

        <!--
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Navbar Link</a></li>
        </ul>fikri-rasyid-786614-unsplash

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        -->
    </div>
</nav>

<div id="index-banner" class="parallax-container" style="height: 15em;">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text">Produkt - {{ product["name"] }}</h1>

            <p>{{ product["description"] }}</p>

            <div id="interactive" class="viewport"></div>

            <br>

        </div>
    </div>
    <div class="parallax">
        <div style="height: 100%;" class="teal"></div>
        <!--<img style="max-width: 100%;" src="fikri-rasyid-786614-unsplash.jpg" alt="macro shot of vegetable lot">-->
    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <h2>Info</h2>

            <table id="table1" class="table responsive-table" style="table-layout: fixed;">
                <tbody>
                <tr>
                    <td>Hersteller</td>
                    <td>{{ product["supplier"] }}</td>
                </tr>
                <tr>
                    <td>Land</td>
                    <td>{{ product["country"] }}</td>
                </tr>

                <tr>
                    <td>EAN</td>
                    <td>{{ product["code"] }}</td>
                </tr>

                <tr>
                    <td>Inhaltsstoffe</td>
                    <td>{{ ", ".join(product["contents"]) }}</td>
                </tr>

                <tr>
                    <td>Verpackung</td>
                    <td>{{ product["packaing"] }}</td>
                </tr>

                <tr>
                    <td>Wiederverwertbar?</td>
                    <td>{{ "Ja" if product["reuseable"] else "Nein" }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <h2>Bewertung</h2>

            <table id="table2" class="table responsive-table" style="table-layout: fixed;">
                <tbody>
                <tr>
                    <td>Umwelt</td>
                    <td>
                        <i class="fa fa-star-half"></i>
                    </td>
                </tr>
                <tr>
                    <td>Verpackung</td>
                    <td>{{ product["country"] }}</td>
                </tr>

                <tr>
                    <td>Herkunft</td>
                    <td>{{ product["code"] }}</td>
                </tr>

                <tr>
                    <td>Ethik</td>
                    <td>{{ ", ".join(product["contents"]) }}</td>
                </tr>

                <tr>
                    <td>Gesundheit</td>
                    <td>{{ product["packaging"] }}</td>
                </tr>

                <tr>
                    <td>Inhaltsstoffe</td>
                    <td>{{ "Ja" if product["reuseable"] else "Nein" }}</td>
                </tr>

                <tr>
                    <td>Nährwert</td>
                    <td>{{ "Ja" if product["reuseable"] else "Nein" }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!--

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
</div>
-->

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h2 class="white-text">Über uns</h2>
                <p class="grey-text text-lighten-4">Ein wunderbares Jugendhackt 2019 Projekt!</p>


            </div>
            <div class="col l3 s12">
                <h2 class="white-text">Links</h2>
                <ul>
                    <li><a class="white-text footer-link" href="https://hackdash.org/projects/5ce8f714002e766ac0f23602"
                           target="_blank">Hackdash</a></li>
                    <li><a class="white-text footer-link" href="https://github.com/buyingcredit/"
                           target="_blank">Github</a></li>
                </ul>
            </div>
            <!--
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          -->
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ root }}/js/materialize.js"></script>
<script src="{{ root }}/js/init.js"></script>
<script src="{{ root }}/js/main.js"></script>

</body>
</html>
